<div class="jumbotron">
  <h1>Welcome to App Jesus</h1>
  <h4>Please sign up or log in to access your account</h4>
  <a href="/registrations/signup">Sign Up</a>
  <a href="/sessions/login">Log In</a>
</div>
