<div class="jumbotron">
  <h1>Jesus App</h1>

  <form id="log_in" action="/main">
    <label>User Name:</label>
    <input type="text" name="user_name" id="user_name" required=true/>
    <br />
    <label>Password:</label>
    <input type="text" name="user_name" id="user_name" required=true />
    <button>log in</button>
    <p> new user <a href="/sign_up_form">Sign up here!!</a> </p>
  </form>
</div>

<% @articles.each do |article| %>
  <li><%= article.title %>
<% end %>

<form action="/articles" method="post">
  <label for="title"><p>Title of article</p></label>
  <input id="title" name="title" type="text">
  <button class="btn btn-primary" type="submit">Add article</button>
</form>

<form action="/search" method="get">
  <select name="type">
    <option value="title">Search by Article Title</option>
    <option value="tags">Search by Tag</option>
  <input type="text" name="search">
  <button class="btn btn-primary" type="submit">Search</button>
</form>
