<h1>Welcome, <%=@user.name%>!</h1>
<a href="/logout">Log Out</a>

<nav>
  <div>
    <a href="/main">Home</a>
    <form id="log_in" action="/bookmark">
      <input type="text" name="add_bookmark" id="add_bookmark" placeholder="add bookmark"/>
      <button>bookmark</button>
    </form>
  </div>
  <div>
    <p>tag</p>
    <ul>
      <li><a href="/tags/:id">tag1</a></li>
      <li><a href="/tags/:id">tag2</a></li>
    </ul>
  </div>
  <div>
    <p>favorite</p>
    <ul>
      <li><a href="/favorites/:id">most_favorite_1</a></li>
      <li><a href="/favorites/:id">most_favorite_2</a></li>
    </ul>
  </div>
</nav>

<form id="search" action="/search">
  <label>Search:</label>
  <input type="text" name="user_name" id="user_name" required=true/>
  <button>Search</button>
</form>


<h2>The list of bookmark below:</h2>
