<nav>
  <form action="/link">
    <label>Enter URL of article</label>
    <input type="text" name="url" id="url" required=true/>
    <button>Submit</button>
  </form>
  
  <div>
    <p>tag</p>
    <ul>
      <li><a href="/tags/:id">tag1</a></li>
      <li><a href="/tags/:id">tag2</a></li>
    </ul>
  </div>
  <div>
    <p>favorite</p>
    <ul>
      <li><a href="/favorites/:id">most_favorite_1</a></li>
      <li><a href="/favorites/:id">most_favorite_2</a></li>
    </ul>
  </div>
</nav>
