<h2>Ooops....</h2>

<ul>
  <h3>
    <% @user.errors().full_messages().each do |message| %>
    <li><%= message%></li>
    <% end %>
  </h3>
</ul>

<h3><a href="/signup" class="button2">Try Again</a></h3>
<br />


<img  class="error" src="emoji.gif">
