<form id="log_in" action="/sign_up_form/success">
  <label>User Name:</label>
  <input type="text" name="user_name" id="user_name" required=true/>
  <br />
  <label>Password:</label>
  <input type="text" name="user_name" id="user_name" required=true />
  <button>sign up</button>
</form>
